body {
    background-image: url(img/background2.jpeg);
}


#title, .subtitle, .post_title {
    color: white;
}

#title {
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    /*text-decoration: underline;*/
}

.subtitle {
    font-style: italic;
    font-weight: bold;
    text-transform: lowercase;
    /*text-decoration: overline;*/
}

#perfil_img {
    border: 2px solid purple;
    border-radius: 20%;
}

.text {
    color: white;
    margin: 0;
    margin-bottom: 15px;
}

.post_title {
    font-size: 18px;
    font-style: italic;
    font-family: Verdana, Arial;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post {
    /*background: lightgray;*/
    padding: 10px 5px;
    border: 1px solid purple;
    margin: 5px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 15px;
}

.style_img {
    margin-bottom: 15px;
}

a {
    color: white;
}

.contact_list {
    list-style-type: none;
    padding-left: 15;
}
.contact_list li a {
    color: rgb(205, 50, 50);
}

/*
ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: "\1F44D";
}

ul {
    list-style-type: : url("...");
}
*/